body{
  /* background: url(https://wallpapercave.com/wp/wp1894821.jpg); */
  margin:8%;
}



.not{

  /* color: #99e4ff; */
}

.imagebar{
  height:45px;
}



.headshot{
  height:300px;
  border-radius: 50%;
}

.jumbotron{
  background: rgba(238, 238, 238, 0.7);
}

.MyPicture{
  margin-left: auto;
  margin-right: auto;
  border-top: 400px;
  /* color: #eeeeee; */
  color: #4ca043;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  font-size: 6.5vw;


}
